<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        <!--
        	springmvc需要配置的内容有：
        		mvc静态资源放行
        		mvc注解支持
        		Controller的扫描路径
        		视图解析器
        		上传解析器
          -->
          <!-- 开启静态资源访问 -->
          <mvc:default-servlet-handler/>
          <!-- 开启springmvc注解配置 -->
          <context:annotation-config/>
          <!--扫描包--> 
          <context:component-scan base-package="com.studentManage.controller"/>
          <mvc:annotation-driven/>
          <!-- 视图解析器配置 -->
		  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		  	 <!-- 配置前缀和后缀 -->
		  	 <property name="prefix">
		  	 	<value>/html/</value>
		  	 </property>
		  	  <property name="suffix">
		  	 	<value>.html</value>
		  	 </property>
		  </bean>
             <!--文件上传配置 -->
		   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		   	   <!-- 最大值配置 -->
		   	   <property name="maxUploadSize">
		   	   		<value>200000</value>
		   	   </property>
		   </bean>
</beans>